/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Root variables for colors */
:root {
  --background-color: rgba(75, 117, 255, 0.296);
  --box-shadow-color: rgba(68, 36, 250, 0.571);
  --text-shadow-color: #024cac;
  --link-text-color: #00ffff;
  --hover-background-color: rgba(204, 235, 241, 0.205);
  --hover-box-shadow-color: rgba(20, 0, 195, 0.835);
  --menu-icon-color: #00ffff;
  --hover-menu-background-color: hsla(224, 96%, 62%, 0.748);
  --hover-menu-border-color: hsla(220, 74%, 56%, 0.584);
}

/* Reset default styles and set font family */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
}

/* Body styles including background image */
body {
  background-image: url(./images/blurry-gradient-haikei.png);
  /* background-color: rgb(37, 37, 37); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Sidebar list styles */
.sidebar-list {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  padding: 1.5rem;
  gap: 2.2rem;
  justify-content: center;
  background-color: var(--background-color);
  box-shadow: 3px 1px 35px var(--box-shadow-color);
  backdrop-filter: blur(5px);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: 0.8s ease;
  overflow: auto; /* Enables scroll bar & scrolling in sidebar */
  scrollbar-width: none; /* Hides scrollbar & Scrolling remains enabled*/

  /* Font style */
  font-family: 'Merriweather Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.sidebar-list::-webkit-scrollbar {
  display: none;
}

/* Sidebar list hover styles */
.sidebar-list:hover {
  box-shadow: 3px 3px 35px var(--hover-box-shadow-color);
  backdrop-filter: blur(10px);
  transition: 0.5s ease;
}

/* Sidebar list anchor tag styles */
.sidebar-list a,
.nav-links a {
  text-shadow: 0 5px 15px var(--text-shadow-color);
  transition: 0.3s;
  padding: 6px;
}

/* Sidebar list anchor tag hover styles */
.nav-links a:hover {
  background: var(--hover-background-color);
  border-radius: 3px;
  transition: 0.1s;
}

/* Navigation list styles */
.nav-list {
  padding: 1.5rem;
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(75, 117, 255, 0.722);
  box-shadow: 1px 2px 30px var(--box-shadow-color);
  backdrop-filter: blur(10px);
  /* Font style */
  font-family: 'Merriweather Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Additional styling for nav-list a hover links - Temp */
/* .nav-list a:hover {
  text-decoration: underline #21caf09a;
  text-underline-offset: 0.3em;
} */

/* Navigation list first li child margin-right auto */
.nav-list > li:first-child {
  margin-right: auto;
}

/* Anchor tag styles */
a {
  text-decoration: none;
  cursor: pointer;
  color: var(--link-text-color);
}

/* Unordered list - remove bullet points */
ul {
  list-style-type: none;
}

/* The hamburger menu svg style */
/* Color can also be changed from the SVG directly */
.nav-link svg {
  width: 25px;
  height: 25px;
  fill: var(--menu-icon-color);
  filter: drop-shadow(-4px 2px 1px rgba(4, 86, 99, 0.192));
}

/* Reserve space for SVGs */
.hideLogo svg {
  width: 50px;
  height: 50px;
}

/* Hamburger menu icon hover styles */
.nav-link .menu-icon:hover {
  background: var(--hover-menu-background-color);
  border: 1px solid var(--hover-menu-border-color);
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.195);
}

/* Paragraph styles */
p {
  font-size: 18px;
  padding: 5px;
  margin: 2px;
}

/* Logo visibility styles */
.nav-list .hideLogo {
  display: flex;
}

/* Menu button styles */
.menu-btn {
  display: none;
}

/* 
.main-container {
display: flex;
flex-direction: column;

} */

.hero {
  width: 100%;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 10px;
}

.hero img {
  margin: 2rem;
  padding: 2rem;
  width: 560px;
  height: auto;
  opacity: calc(83%);
  filter: drop-shadow(5px 5px 8px rgba(41, 223, 255, 0.721));
}

/* Styles for the card to the side of the hero illustration */
.hero-card {
  border-radius: 20px;
  background-color: rgba(232, 232, 233, 0.082);
  box-shadow: -3px 2px 10px rgba(0, 0, 0, 0.208);
  backdrop-filter: blur(5px);
  width: 700px;
  height: 400px;
  padding: 2rem;
  margin: 5rem 1rem 1rem 2rem;
}

.cta-btn {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.cta-btn a {
  border-radius: 10px;
  padding: 15px;
  background-color: rgba(6, 16, 41, 0.411);
  box-shadow: -2px 3px 5px rgba(0, 53, 244, 0.603);
  white-space: nowrap;
  font-size: 20px;
  margin: 2rem;
}

.cta-btn a:hover {
  border-radius: 10px;
  background-color: rgba(35, 96, 252, 0.186);
  box-shadow: -2px 3px 8px rgba(0, 53, 244, 0.521);
  white-space: nowrap;
}
.section-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  /* Aligns items with equal height */
  align-items: stretch;
}

.banner {
  background-color: rgba(68, 36, 250, 0.571);
  border: white solid 3px;
  height: 150px;
}

/* Cards styles */
.cards {
  border-radius: 20px;
  background-color: rgba(232, 232, 233, 0.082);
  box-shadow: 1px 2px 30px rgba(68, 36, 250, 0.571);
  backdrop-filter: blur(5px);
  width: 300px;
  padding: 20px;
  margin: 70px 10px;
}

/* Media query for mobile devices */
@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-btn {
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar-list {
    width: 100%;
  }
}
