/* Reset default styles and set font family */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Body styles including background image */
body {
  background-image: url(./images/blurry-gradient-haikei.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  /* border: red solid 3px; */
}

/* Sidebar list styles */
.sidebar-list {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  padding: 1.5rem;
  gap: 2.2rem;
  justify-content: center;
  background-color: rgba(75, 117, 255, 0.591);
  box-shadow: 3px 1px 35px rgba(53, 30, 255, 0.722);
  backdrop-filter: blur(5px);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: 0.8s ease;
  overflow: auto;
  scrollbar-width: none;
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.sidebar-list::-webkit-scrollbar {
  display: none;
}

/* Sidebar list hover styles */
.sidebar-list:hover {
  box-shadow: 3px 3px 35px rgba(20, 0, 195, 0.835);
  backdrop-filter: blur(10px);
  transition: 0.5s ease;
}

/* Sidebar list anchor tag styles */
.sidebar-list a,
.nav-links a {
  text-shadow: 0 5px 15px #c3c3c3;
}

.nav-links a:hover {
  background: rgba(26, 196, 234, 0.082);
}
/* Navigation list styles */
.nav-list {
  display: flex;
  padding: 1.5rem;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(75, 117, 255, 0.722);
  box-shadow: 1px 2px 30px rgba(68, 36, 250, 0.571);
  backdrop-filter: blur(10px);
}

/* Navigation list first child margin-right auto */
/* Too generalized - Stopped Use */
/* :first-child {
    margin-right: auto;
  } */

/* Navigation list first li child margin-right auto */
.nav-list > li:first-child {
  margin-right: auto;
}

/* Anchor tag styles */
a {
  text-decoration: none;
  cursor: pointer;
  padding: 6px;
  color: #00ffff; /* Moved from .nav-links a */
}

a:hover {
  text-decoration: underline #21caf09a;
  text-underline-offset: 0.3em; /* Adjust the value as needed */
}

/* Unordered list styles */
nav ul {
  list-style-type: none;
}

/* the hamburger menu svg style */
/* Color can also be changed from the SVG directly */
.nav-link svg {
  max-width: 150px;
  height: auto;
  fill: #00ffff;
}

.nav-link .menu-icon:hover {
  background: hsla(180, 56%, 44%, 0.531);
}

p {
  font-size: 18px;
  padding: 5rem;
  margin: 3rem;
  border: solid #000000 3px;
  background-color: rgba(255, 255, 255, 0.272);
}

.nav-list .hideLogo {
  display: flex;
}

.menu-btn {
  display: none;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-btn {
    display: block;
  }
}

@media (min-width: 799px) {
  .sidebar-list {
    display: none;
  }
}
