/* Reset and Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* Body Background Color */
body {
  background-color: #0c0c0c;
}

/* Palette Legend Section */
.palette-lgnd {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 1.1em;
}

/* Logo Styling */
.logo img {
  width: 120px;
  height: auto;
  margin-left: 20px;
}

header{
  position: inherit;
}

/* Navigation Container */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  overflow: hidden;
  position: sticky;
}

/* Navigation List */
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

/* Navigation Links */
.nav-list a {
  color: #d30051;
}

li {
  list-style-type: none;
}

li a {
  padding: 1rem;
  margin: 0.5rem;
}

/* Anchor Links */
a {
  color: #f9f9f9;
  text-decoration: none;
}

.nav-item a:hover {
  background-color: #fe64642d;
}

/* Hero Section */
.hero {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 4rem;
  background-image: url("./images/hero-car.jpg");
  background-size: cover;
  background-position: center 45%;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 80vh;
  box-shadow: inset 22px 10px 70px;
  overflow: hidden; /* Added to hide overflow */
}

/* Hero Overlay */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.331);
  z-index: 1;
  box-sizing: border-box; /* Added to include border in dimensions */
}

/* Hero Content */
.hero-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 50%;
}

/* Call-to-Action Container */
.cta-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Call-to-Action Button */
.hero .cta-button {
  padding: 0.5rem 1rem;
  border: 3px #ffc3c3 solid;
  background-color: #1a1a1a00;
  color: #f9f9f9;
  border-radius: 10px;
  margin-top: 1rem;
  text-decoration: none;
  font-size: 1.5em;
  box-shadow: 5px 10px 10px #1a1a1a9d;
  transition: 0.5s;
}

.cta-button:hover {
  background-color: rgba(7, 7, 7, 0.632);
  transition: 0.3s;
}

/* Hero Heading */
.hero-content h1 {
  font-size: 3rem;
  color: #f9f9f9;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-shadow: #1a1a1a 1px 1px 5px;
  text-align: center;
  width: 100%;
}

/* Hero Paragraph */
.hero-content p {
  font-size: 20px;
  color: #f9f9f9;
  font-weight: 600;
  border-radius: 2px;
  max-width: 90%;
  text-align: center;
  word-spacing: 2px;
  line-height: 1.5em;
  margin-bottom: 2rem;
}

.blog-section {
  border-radius: 20px;
  box-shadow: inset 10px 0px 100px rgba(255, 255, 255, 0.351);
}

/* Gallery Hero Section */
body.gallery .hero {
  justify-content: center;
  max-width: 100%;
  min-height: 100vh;
  /* Border for testing purposes */
  /* border: red solid 2px; */
}

/* Gallery Hero Overlay */
.gallery .hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23, 23, 23);
  z-index: 1;
  /* Border for testing purposes */
  /* border: rgb(116, 255, 215) solid 2px; */
}

/* Gallery Grid */
.hero .hero-content .gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding: 2rem;
  /* Blue border */
  /* border: rgb(85, 0, 255) solid 2px; */
  box-sizing: border-box; /* Ensure padding is included in width/height */
  width: 150%;
}

/* Gallery Card Images */
.gallery-card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  border: rgb(245, 255, 179) solid 2px; /* Yellow border */
  box-sizing: border-box; /* Ensure border is included in width/height */
}

.gallery-card img:hover {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  border: rgb(118, 228, 255) solid 5px; /* Yellow border */
  box-sizing: border-box; /* Ensure border is included in width/height */
}
